<div class="jumbo">
    <div class="littlebox">
        <p>
            <span>
                <h1 class="title">Your Furniture is old</h1>
            </span>
            <h2 class="text-right faded">
                <small>Ours is older.</small>
            </h2>
        </p>
        <p>
            <%= link_to 'Check out our Products', category_path(id:"all"), class: "btn btn-primary main-btn" %>
        </p>
    </div>
</div>
