@import "bootstrap";
@import "bootstrap-sprockets";
$mainColor: #2E3E4F;
body {
  font-family: "Times New Roman", Times, serif;
}
.header {
    margin-top: 15px;
    margin-bottom: 10px;
    background: $mainColor;
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .company_name {
        color: #FEFBFD;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #FEFBFD;
        }
    }
}
.jumbo {
    height: 100vh; //visual height units
    border: 1px solid #000000;
    background: image_url("hero.jpg");
    background-size: cover; // scale as the .jumbo grows and shrinks
    background-position: center; // center the bg instead of putting at top-left
    .littlebox {
        float: right;
        margin-top: 30vh;
        margin-right: 50px;
        padding: 5px;
        .title{
          font-size: 50px;
        }
        .faded > small {
            font-size: 25px;
            color: #FEFBFD;
        }
        a {
            display: block;
            text-align: center;
        }
        .main-btn {
          font-size: 20px;
        }
    }
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 5px;
    background: $mainColor;
    .footer_links {
        line-height: 15px;
        color: #FEFBFD;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #FEFBFD;
        }
    }
}
.product_list_container {
    height: 440px;
    padding: 10px;
    // border: 1px solid #DDDDDD;
    // border-radius: 5px;
    .image {
        max-width: 100%;
        margin:auto;
    }
}
.footer_pad {
    padding-bottom: 50px;
}
.product_name {
    padding: 5px;
    color: black;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.yield {
    margin-left: 40px;
    margin-right: 40px;
  }
.info {
  .name{
    background-color: #F2C40D;
  }
  .price{
    background-color: #BFF6EB;
  }
  .description{
    background-color: #EEEEEE;
  }
  .dimensions{
    background-color: #EEEEEE;
  }
}
.img-detail{
  max-height: 70vh;
}
